{:deps     true
 :dev-http {8000 ["classpath:public" "target"]}
 :builds   {:conduit   {:target           :browser
                        :output-dir       "target/conduit"
                        :asset-path       "/conduit"
                        :modules          {:main {:init-fn conduit.client/init-fn}}
                        :compiler-options {:source-map true}
                        :devtools         {:preloads   [conduit.dev]
                                           :after-load conduit.dev/after-load}}
            :workspace {:target           :browser
                        :output-dir       "target/workspace"
                        :asset-path       "/workspace"
                        :modules          {:main {:init-fn nubank.workspaces.core/mount}}
                        :compiler-options {:source-map true}
                        :devtools         {:preloads   [conduit.dev
                                                        conduit.workspace]
                                           :after-load nubank.workspaces.core/after-load}}}}
