{:deps     true
 :dev-http {8000 ["classpath:public" "target"]}
 :builds   {:conduit {:target     :browser
                      :output-dir "target"
                      :asset-path "/"
                      :modules    {:main {:init-fn conduit.client/init-fn}}
                      :devtools   {:preloads   [conduit.user]
                                   :after-load conduit.user/after-load}}}}
